.card-item {
    min-height: 480px;
    min-width: 200px;
    margin: 15px;
    background: var(--secondary-color);
    flex: 1 1 0;
    .card-top {
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .card-bottom {
        padding: 15px;
        .movie-title {
            line-height: 1.5em;
            height: 3em;
            overflow: hidden;
        }
        .rating-star-group{
            color: var(--font-primary);
            margin-bottom: 15px;
            .rate-button {
                border: none;
                line-height: 50%;
                float: right;
            }
            .rating-span {
                float: right;
                cursor: pointer;
            }
            .rating-number {
                vertical-align: middle;
            }
        }

        .card-info {
            color: var(--font-primary);
            h4 {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }

        .add-watchlist {
            margin: 0 auto;
            display: block;
        }
    }
}

.modal-content {
    background-color: rgb(31,31,31);
}

.rate-modal {
    .modal-content {
        padding: 20px;
        .modal-title {
            margin: auto;
            .rate-this {
                color: #f5c518;
                text-align: center;
            }
            .title {
                text-align: center;
                color: #fff;
            }
        }
    }

    .remove-rating-button {
        margin: 0 auto;
        width: 130px;
        margin-bottom: 10px;
        margin-top: 15px;
        border: none;
    }

    .modal-header, .modal-footer {
        border: none;
    }
    .modal-header {
        padding-bottom: 0;
    }
    .modal-footer {
        display: contents;
        padding-bottom: 10px;
    }

}


.more-info-modal {
    .modal-body {
        padding: 1.5rem;
    }
    .modal-dialog {
        max-width: 445px;
        .modal-content {
            padding: 12px;
        }
    }
    .image-container {
        text-align: center;
        img.more-info-img {
            width: 240px;
            height: auto;
            border-radius: 5px;
          }
    }
    .more-info-card-content {
        margin-bottom: 15px;

        .card-title {
            text-align: center;
            color: white;
            font-weight: bold;
        }
    
        .release-date {
            color: #73b5f3;
        }
    
        .movie-overview {
            color: var(--font-primary);
        }
        .card-rating {
            margin-bottom: 12px;
            .rating-number {
                color: #73b5f3;
            }
        }
    }
}





