.footer {
    background: var(--secondary-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    flex-direction: column;
    div {
        color: var(--font-primary);
    }
}